.login-page-container {
    padding: 32px 0;
}

.title {
    text-align: center;
    margin-bottom: 32px;
}

.header {
    text-align: center;
}

.icon-title {
  font-size: 96px;
  height: 96px;
  width: 96px;
}

.login-form-card {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}

md-form-field {
    width: 100%;
}

button {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 12px;
}

.last-field {
  margin-bottom: -6px;
  height: 40px;
  overflow: hidden;
}

.reset {
  font-size: 12px;
}

a {
  color: #337ab7;
  z-index: 3;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  transition-duration: 0.15s;
}

.nav-button {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  height: 64px;
  border-radius: 0;
  width: 140px;
  margin-right: -5px;
  float: right;
}

a {
  margin-left: auto;
}
