button {
  float: right;
  margin-left: 12px;
  min-width: 160px;
}
.form-container {
  padding: 24px;
}
.button-container {
  padding: 16px 0px 32px 0px;
  float: right;
  width: 100%;
  margin-top: -12px;
}
.mat-tab-header {
  position: fixed;
}
.accent {
  color: white !important;
}
mwc-parcels-data-form {
  display: block;
}
