<md-progress-bar *ngIf="progressBar"></md-progress-bar>
<div class="card-container" *ngIf="!addedSuccessfully || addedSuccessfully === 'error'">
  <div class="card mat-elevation-z1">
    <div class="form-container">
      <mwc-parcels-data-form [parcel]="parcel"></mwc-parcels-data-form>
      <div class="button-container col-md-12">
        <button type="button" class="add-button accent" md-raised-button color="accent" (click)="add()">Dodaj</button>
      </div>
    </div>
  </div>
  <div *ngIf="addedSuccessfully !== 'error'">
    Dodano pomyślnie, dodaj następne lub idź do strony głównej
  </div>
</div>
