<div>
  <div class="col-md-2">
  </div>
  <div class="col-md-4 header">
      DANE PERSONALNE
    </div>
    <div class="col-md-6 header">
        ADRES ZAMIESZKANIA
      </div>
</div>

<div>
    <div class="col-md-2">
        <md-form-field>
          <input class="textbox" type="text" mdInput placeholder="NUMER EWIDENCYJNY" name="numer_ewidencyjny">
        </md-form-field>
      </div>
  <div class="col-md-1">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="IMIE" name="imie">
    </md-form-field>
  </div>
  <div class="col-md-1">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="NAZWISKO" name="nazwisko">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="NUMER PESEL/NIP" name="numer">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="KOD POCZTOWY" name="kod">
    </md-form-field>
  </div>
  <div class="col-md-1">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="MIASTO" name="miasto">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="ULICA" name="ulica">
    </md-form-field>
  </div>
  <div class="col-md-1">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="NR" name="nr">
    </md-form-field>
  </div>
</div>
