<div style="BACKGROUND: #2196f3; height:40px; position: fixed; z-index: 100; padding: 10px; width: 100%; color: white">
  HISTORIA WYSZUKIWANIA
</div>

<div style="z-index: 99; margin-top: 40px;">
  <div style="float:left; width:100%" *ngFor="let record of history_records">
    <div class="row bordered in-the-bottom">
      <div class="card-field result" style="float: left; width:100%">
        <div class="col-md-1">{{record.time}}</div>
        <div class="col-md-2">{{record.name}}</div>
        <div class="col-md-2">{{record.surname}}</div>
        <div class="col-md-1">{{record.postcode}}</div>
        <div class="col-md-2">{{record.city}}</div>
        <div class="col-md-2">{{record.street}}</div>
        <div class="col-md-1">{{record.number}}</div>
        <div class="col-md-1">{{record.flatNumber}}</div>
      </div>
    </div>
  </div>
</div>
