<md-progress-bar *ngIf="progressBar" mode="indeterminate">
</md-progress-bar>
<div class="card-container">
  <div class="card">
    <div class="form-container fixed">
      <div class="row">
        <div class="header col-md-2">
          Wybierz spółkę
        </div>
        <div class="col-md-1"></div>
        <div class="header col-md-4" *ngIf="selectedCompanyId">
          Wyszukiwanie
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2 form-row">
          <form>
            <md-select name="first" placeholder="SPÓŁKA" [(ngModel)]="selectedCompanyId">
              <md-option *ngFor="let c of currentUser?.companies" [value]="c.id" (click)="getCompanyResolutions()">
                {{ c.name }}
              </md-option>
            </md-select>
          </form>
        </div>
        <div class="col-md-1" *ngIf="selectedCompanyId"></div>
        <div class="col-md-3" *ngIf="selectedCompanyId">
          <md-form-field>
            <input class="textbox" (keypress)="onKeyDownNumber($event)" type="text" mdInput placeholder="Wyszukaj po numerze" [(ngModel)]="numberSearchString">
          </md-form-field>
        </div>
        <div class="col-md-3" *ngIf="selectedCompanyId">
          <button md-raised-button color="primary" (click)="searchResolutionByNumber()">Wyszukaj {{ numberSearchString ? 'po numerze' : 'wszystkie' }}</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row in-the-bottom on-the-right columns-title" *ngIf="selectedCompanyId">
        <div class="card-field" style=" width: 100%;">
          <div class="col-md-2 header">Rok</div>
          <div class="col-md-2 header">Numer uchwały</div>
          <div class="col-md-2 header">Ilość płatności</div>
        </div>
      </div>
      <div *ngFor="let r of resolutions">
        <div class="row bordered in-the-bottom on-the-right result" *ngIf="selectedCompanyId" (click)="showChosenResolution(r)">
          <div class="card-field" style="float:left; width:100%">
            <div class="col-md-2 ">{{r.year}}</div>
            <div class="col-md-2 ">{{r.number}}</div>
            <div class="col-md-2 ">{{r.paymentCount}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>