<div class="templateslist">
<md-list>
  <md-list-item> <a routerLink="">Zawiadomienie</a> </md-list-item>
  <md-list-item> <a routerLink="">Deklaracja</a> </md-list-item>
  <md-list-item> <a routerLink="">Upowaznienie</a> </md-list-item>
  <md-list-item> <a routerLink="">Wezwanie</a> </md-list-item>
  <md-list-item> <a routerLink="">Wniosek o decyzję ST</a> </md-list-item>
  <md-list-item> <a routerLink="">Dowód Wpłaty</a> </md-list-item>
  <md-list-item> <a routerLink="">Statut</a> </md-list-item>
  <md-list-item> <a routerLink="">Poświadczenie przyjęcia regulaminu, statutu, informacji OPO, zgody</a> </md-list-item>
  <md-list-item> <a routerLink="">Zgoda + Informacja</a> </md-list-item>
  <md-list-item> <a routerLink="">Regulamin</a> </md-list-item>
</md-list>
</div>