
  md-form-field {
    width: 100% !important;
  }

.header {
  color: rgba(0, 0, 0, 0.57);
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 6px;
  font-weight: 600;
}

.mat-select-trigger {
    font-size: 14px !important;
    /* it works when written in browser but not imported from here - ask piotrek */
}

.sections-last-row {
  margin-bottom: 16px;
}

button {
  width: 20%;
  color: white !important;
  margin-bottom: 24px;
}

.button-container {
  padding: 8px 0;
}

.form-row {
  margin-bottom: 24px;
}

button {
  margin-right: 12px;
}

