<div class="toolbar mat-elevation-z1">
  <a class="navigation-button" routerLinkActive="active-link" routerLink="/add">
      Dodaj
    </a>
  <a class="navigation-button" routerLinkActive="active-link" routerLink="/searchresult">
      Wyszukaj
    </a>
  <a class="navigation-button" routerLinkActive="active-link" routerLink="/documents">
      Dokumenty
    </a>
  <a class="navigation-button" routerLinkActive="active-link" routerLink="/raports">
      Raporty
    </a>
</div>
<div class="toolbar-spacer"></div>
