<div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="ROZPOCZĘTO PRACE" name="rozpoczetoPrace">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="ZAKOŃCZONO PRACĘ" name="zakonczonoPrace">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="PROTOKÓŁ NUMER" name="protokolNumer">
    </md-form-field>
  </div>
  <div class="col-md-6">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="RODZAJ WYKONANYCH PRAC" name="rodzajPrac">
    </md-form-field>
  </div>
  <div class="col-md-12">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="DODATKOWY OPIS" name="dodatkowyOpis">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="CAŁKOWITY KOSZT" name="calkowityKoszt">
    </md-form-field>
  </div>
</div>