<div class="row">
  <div class="header col-md-3">
    Szczegóły wykonanych robót
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <md-form-field>
      <input mdInput [mdDatepicker]="picker" [(ngModel)]="worksdoneDataForm.startedFromDate" placeholder="DATA ROZPOCZĘCIA">
      <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
      <md-datepicker #picker></md-datepicker>
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="ZAKOŃCZONO PRACĘ" name="zakonczonoPrace" [(ngModel)]="worksdoneDataForm.finishedDate">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="PROTOKÓŁ NUMER" name="protokolNumer" [(ngModel)]="worksdoneDataForm.protocolNumber">
    </md-form-field>
  </div>
  <div class="col-md-6">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="RODZAJ WYKONANYCH PRAC" name="rodzajPrac" [(ngModel)]="worksdoneDataForm.type">
    </md-form-field>
  </div>
  <div class="col-md-12">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="DODATKOWY OPIS" name="dodatkowyOpis" [(ngModel)]="worksdoneDataForm.additionalDesc">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="CAŁKOWITY KOSZT" name="calkowityKoszt" [(ngModel)]="worksdoneDataForm.totalCost">
    </md-form-field>
  </div>
</div>
