<div class="card-container">
  <div class="card mat-elevation-z1">
    <div class="form-container">
      <div class="row">
        <div class="card-field card-navigation" (click)="goBack()">
          <md-icon>navigate_before</md-icon>
        </div>
        <div class="col-md-10 header" style="padding-top: 4px">Przegląd sekcji</div>
      </div>
      <div class="row">
        <md-select class="col-md-5" [disabled]="editionDisabled" placeholder="Spółka" [(ngModel)]="section.companyId">
          <md-option *ngFor="let c of currentUser?.companies" [value]="c.id">
            {{c.name}}
          </md-option>
        </md-select>
      </div>
      <mwc-section-data-form *ngIf="section.companyId" [editionDisabled]="editionDisabled" [sectionDataForm]="section"></mwc-section-data-form>
      <div *ngIf="editionDisabled" class="button-container col-md-12">
        <button type="button" class="add-button accent" md-raised-button color="accent" (click)="edit()">Edytuj</button>
      </div>
      <div *ngIf="!editionDisabled" class="button-container col-md-12">
        <div class="col-md-10 no-padding">
          <div class="button-container col-md-10">
            <button type="button" class="add-button accent" md-raised-button color="accent" (click)="cancel()">Anuluj</button>
          </div>
        </div>
        <div class="button-container col-md-2">
          <button type="button" class="add-button accent" md-raised-button color="accent" (click)="save()">Zapisz</button>
        </div>
      </div>
    </div>
  </div>
</div>