<div class="row">
  <div class="col-md-3 header">
    Adres do korespondencji
  </div>
</div>
<div class="row">
  <div class="col-md-12 checkbox">
    <button md-raised-button color="primary" *ngIf="!editionDisabled"  (click)="sameAddress.emit()">Użyj adresu z pełnomocnictwa</button>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <md-form-field>
      <input class="textbox" [disabled]="editionDisabled" type="text" mdInput placeholder="ULICA" name="ulica" [(ngModel)]="contactDataForm.address.streetAndNumber">
    </md-form-field>
  </div>
  <div class="col-md-1">
    <md-form-field>
      <input class="textbox" [disabled]="editionDisabled" type="text" mdInput placeholder="LOKAL" name="nr" [(ngModel)]="contactDataForm.address.apartment">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" [disabled]="editionDisabled" type="text" mdInput placeholder="KOD POCZTOWY" name="kod" [(ngModel)]="contactDataForm.address.postCode">
    </md-form-field>
  </div>
  <div class="col-md-3">
    <md-form-field>
      <input class="textbox" [disabled]="editionDisabled" type="text" mdInput placeholder="MIASTO" name="miasto" [(ngModel)]="contactDataForm.address.city">
    </md-form-field>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <md-form-field>
      <input [disabled]="editionDisabled" class="textbox" type="text" mdInput placeholder="E-MAIL" name="email" [(ngModel)]="contactDataForm.email">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input [disabled]="editionDisabled" class="textbox" type="text" mdInput placeholder="TELEFON STACJONARNY" name="stacjonarny" [(ngModel)]="contactDataForm.deskPhoneNumber">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input [disabled]="editionDisabled" class="textbox" type="text" mdInput placeholder="TELEFON KOMÓRKOWY" name="komórkowy" [(ngModel)]="contactDataForm.cellPhoneNumber">
    </md-form-field>
  </div>
</div>
