<div class="col-md-12">
  <div class="header">
    Adres do korespondencji
  </div>
</div>
<div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="KOD POCZTOWY" name="kod" [(ngModel)]="contactDataForm.postalCode">
    </md-form-field>
  </div>
  <div class="col-md-1">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="MIASTO" name="miasto" [(ngModel)]="contactDataForm.city">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="ULICA" name="ulica" [(ngModel)]="contactDataForm.street">
    </md-form-field>
  </div>
  <div class="col-md-1">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="NR" name="nr" [(ngModel)]="contactDataForm.number">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="E-MAIL" name="email" [(ngModel)]="contactDataForm.email">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="TELEFON STACJONARNY" name="stacjonarny" [(ngModel)]="contactDataForm.deskPhoneNumber">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="TELEFON KOMÓRKOWY" name="komórkowy" [(ngModel)]="contactDataForm.cellPhoneNumber">
    </md-form-field>
  </div>
</div>