<div class="header">
  ADRES DO KORESPONDENCJI
</div>

<div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="KOD POCZTOWY" [(ngModel)]="dataForm.code" name="kod">
    </md-form-field>
  </div>
  <div class="col-md-1">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="MIASTO" name="miasto">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="ULICA" name="ulica">
    </md-form-field>
  </div>
  <div class="col-md-1">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="NR" name="nr">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="E-MAIL" name="email">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="TELEFON STACJONARNY" name="stacjonarny">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="TELEFON KOMÓRKOWY" name="komórkowy">
    </md-form-field>
  </div>
</div>
