<md-progress-bar *ngIf="progressBar" mode="indeterminate"></md-progress-bar>
<div class="card-container">
  <div class="card mat-elevation-z1">
    <div *ngIf="addedSuccessfully !== 'success'"  class="form-container">
      <mwc-worksdone-data-form [worksdoneDataForm]="works"></mwc-worksdone-data-form>
      <div class="header">
        Działki
      </div>
      <mwc-owner-parcel-form *ngFor="let pd of works.parcelsData" [parcelData]="pd"></mwc-owner-parcel-form>
      <div class="works-button-container">
        <button type="button" class="add-button accent" md-raised-button color="primary" (click)="addParcel()">Dodaj {{works.parcelsData?.length > 0 ? 'kolejną' : ''}} Działkę</button>
        <button type="button" class="add-button accent" md-raised-button color="primary" [disabled]="works?.parcelsData?.length < 1"
          (click)="removeParcel()">Wykasuj Działkę</button>
      </div>
    </div>
    <div *ngIf="addedSuccessfully !== 'success'" class="button-container col-md-12">
      <button type="button" class="add-button accent" [disabled]="!works.startedFromDate || !works.finishedDate || !works.protocolNumber || !works.totalCost || works.totalCost < 0 || works.parcelsData.length < 1 || !works.parcelsData[0]?.id " md-raised-button color="accent" (click)="add()">Dodaj</button>
    </div>
    <div *ngIf="addedSuccessfully === 'success'" class="info">
        <mwc-info [link]="'add/works'" [text]="'Dodano pomyślnie'" [buttonText]="'Dodaj kolejne'" [success]="true" (click)="reload()"></mwc-info>
      </div>
  </div>
</div>
