<div class="home-container">

  <div class="col-md-6 no-padding navigation-button bordered on-the-right" style="border-top:none" (click)="navigate('add')" mat-ripple [matRippleColor]="'rgba(255,255,255,0.3)'">
    <div class="label">Dodaj</div>
  </div>
  <div class="col-md-6 no-padding navigation-button bordered on-the-right" style="border-top:none" (click)="navigate('search')" mat-ripple  [matRippleColor]="'rgba(255,255,255,0.3)'">
    <div class="label">Wyszukaj</div>
  </div>
  <div class="col-md-6 no-padding navigation-button bordered on-the-right in-the-bottom" style="border-bottom:none" (click)="navigate('documents')" mat-ripple  [matRippleColor]="'rgba(255,255,255,0.3)'">
    <div class="label">Dokumenty</div>
  </div>
  <div class="col-md-6 no-padding navigation-button bordered on-the-right in-the-bottom" style="border-bottom:none" (click)="navigate('raports')" mat-ripple  [matRippleColor]="'rgba(255,255,255,0.3)'">
    <div class="label">Raporty</div>
  </div>
</div>
