.blueborder {
    padding: 0px;
    border-style: solid;
    border-color: blue;
}

.md-button {
    border-style: solid;
    border-color: black;
    width: 100%;
    height: 100%;
/*    padding: 0 6px 0 6px;*/
/*    margin: 6px 8px 6px 8px;*/
   /* min-width: 88px;*/
/*    border-radius: 3px;*/
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
}

.md-button:hover {
    color: white;
    background: blue;
}

.row {
    height: 100px;
}
/*
.md-button-container {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.md-button {
    background: #FAFAFA; 
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 50vh;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color: blue;
    width: 100%;
    height: 100%;
}

.row {
    width:100%;
    height:50%;
}
.row div {
    width:50%;
    height:100%;
    float:left;
}*/