<html>
            <!--<ul class="md-button-container">
                <li><button class="md-button" (click)="buttonclicked()">dodaj</button></li>
                <li><button class="md-button" (click)="buttonclicked()">wyszukaj</button></li>
            </ul>-->
            
            <!--<ul class="md-button-container">
                    <li><button class="md-button" (click)="buttonclicked()">dokumenty</button></li>
                    <li><button class="md-button" (click)="buttonclicked()">raporty</button></li>
            </ul>-->

            <!-- TOP 50% -->
            <div class="row">
                <div><button class="md-button" (click)="buttonclicked()">dodaj</button></div>
                <div><button class="md-button" (click)="buttonclicked()">wyszukaj</button></div>
            </div>
            
            <!-- BOT 50% -->
            <div class="row">
                <div><button class="md-button" (click)="buttonclicked()">dokumenty</button></div>
                <div><button class="md-button" (click)="buttonclicked()">raporty</button></div>
            </div>
</html>