
  md-form-field {
    width: 100% !important;
  }

  .header {
    color: rgba(0, 0, 0, 0.57);
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .button-container {
    padding-top: 16px;
    text-align: right;
  }

  .button-container button {
    margin-left: 12px;
  }
