.form-container {
  padding: 24px;
}

.material-icons.md-48 { font-size: 48px; }

.columns-title{
  text-transform: uppercase;
 }

.title:hover{
  font-size: larger;
}

.result:hover{
  background-color: #ff4181;
}

.bordered-solid {
  border: solid 4px #EEE;
}

.change-col-width{
  width: 12.5%;
}
