.form-container {
  padding: 24px;
}

.material-icons.md-48 { font-size: 48px; }

.bordered {
  border: solid 1px #EEE;
}

.columns-title{
   text-transform: uppercase;
 }

.title:hover{
  font-size: larger;
}
