<div class="card-container">
  <div class="card mat-elevation-z1">
    <div class="form-container">
      <mwc-personal-data-form [personalDataForm]="owner.personalData"></mwc-personal-data-form>
      <mwc-contact-data-form [contactDataForm]="owner.contactData"></mwc-contact-data-form>
      <div>
        <div class="header">
          Udzielone pełnomocnictwa
        </div>
        <mwc-authorizations-data-form *ngFor="let auth of owner.authData" [authDataForm]="auth"></mwc-authorizations-data-form>
        <div class="auth-button-container">
          <button type="button" class="add-button accent" md-raised-button color="primary" (click)="addAuth()">Dodaj {{owner.authData?.length > 0 ? 'kolejne' : ''}} pełnomocnictwo</button>
          <button type="button" class="add-button accent" md-raised-button color="primary" [disabled]="owner?.authData?.length < 1"
            (click)="removeAuth()">Wykasuj pełnomocnictwo</button>
        </div>
      </div>
      <div>
        <mwc-historic-saldo-form [historicSaldo]="owner.historicSaldo"></mwc-historic-saldo-form>
      </div>
      <div>
        <div class="header">
          Działki
        </div>
        <mwc-owner-parcel-form *ngFor="let pd of owner.parcelsData" [parcelData]="pd"></mwc-owner-parcel-form>
        <div class="auth-button-container">
          <button type="button" class="add-button accent" md-raised-button color="primary" (click)="addParcel()">Dodaj {{owner.parcelsData?.length > 0 ? 'kolejną' : ''}} Działkę</button>
          <button type="button" class="add-button accent" md-raised-button color="primary" [disabled]="owner?.parcelsData?.length < 1"
            (click)="removeParcel()">Wykasuj Działkę</button>
        </div>
      </div>
      <!-- Formularz z podpięciem istniejących działek Podpięcie do istniejących działek -->
      <div class="button-container col-md-12">
        <button type="button" class="add-button accent" md-raised-button color="accent" (click)="add()">Dodaj</button>
      </div>
    </div>
  </div>
</div>
