<div class="card-container">
  <div class="card mat-elevation-z1">
    <div class="form-container">
      <mwc-personal-data-form [personalDataForm]="leesee.personalData"></mwc-personal-data-form>
      <mwc-contact-data-form [contactDataForm]="leesee.contactData"></mwc-contact-data-form>
      <div>
        <div class="header">
          Udzielone pełnomocnictwa
        </div>
        <mwc-authorizations-data-form *ngFor="let auth of leesee.authData" [authDataForm]="auth"></mwc-authorizations-data-form>
        <div class="auth-button-container">
          <button type="button" class="add-button accent" md-raised-button color="primary" (click)="addAuth()">Dodaj pełnomocnictwo</button>
          <button type="button" class="add-button accent" md-raised-button color="primary" [disabled]="leesee?.authData?.length < 1" (click)="removeAuth()">Wykasuj pełnomocnictwo</button>
        </div>
      </div>
      <!-- Formularz z podpięciem istniejących działek Podpięcie do istniejących działek -->
      <div class="button-container col-md-12">
        <button type="button" class="add-button accent" md-raised-button color="accent" (click)="add()">Dodaj</button>
      </div>
    </div>
  </div>
</div>
