<div class="card-container">
  <div class="card mat-elevation-z1">
    <div class="form-container">
      <div class="header">
        Wybierz spółkę
      </div>
      <md-select placeholder="Spółka" [(ngModel)]="section.companyId">
        <md-option *ngFor="let c of currentUser?.companies" [value]="c.id">
          {{c.name}}
        </md-option>
      </md-select>
      <mwc-section-data-form *ngIf="section.companyId" [editionDisabled]="false" [sectionDataForm]="section"></mwc-section-data-form>
      <div class="button-container col-md-12">
        <button type="button" class="add-button accent" md-raised-button color="accent" (click)="add()">Dodaj</button>
      </div>
    </div>
  </div>
</div>
