<div class="row">
  <!-- <div class="col-md-12">
    <form #form="ngForm" (ngSubmit)="addLegalBasis()" style="padding-left: 30px; padding-bottom: 10px">
      <div style="float: left; width: 10%; background-color: #64DD17; color: white">
        <button md-raised-button style="background-color: #64DD17; color: white; width: 100%">Dodaj ustawę</button>
      </div>
    </form>
  </div> -->
  <div class="col-md-12 header">
    <form>
      <md-select placeholder="ROK" [(ngModel)]="legalBasicsDataForm.year" name="year">
        <md-option *ngFor="let year of years" [value]="year.value">
          {{year.viewValue}}
        </md-option>
      </md-select>
    </form>
  </div>
  <!-- <div *ngFor="let basis of legalBasicsDataForm; let i = index"> -->
  <div class="col-md-12">
    <div class="col-md-2">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="NUMER UCHWAŁY" name="{{'numerUchwaly_'+i}}" [(ngModel)]="legalBasicsDataForm.number">
      </md-form-field>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="DATA PODJĘCIA" name="{{'dataPodjecia_'+i}}" [(ngModel)]="legalBasicsDataForm.date">
      </md-form-field>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-3">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="USTALONA DATA PŁATNOŚCI I" name="{{'platnoscI_'+i}}" [(ngModel)]="legalBasicsDataForm.paymentI">
      </md-form-field>
    </div>
    <div class="col-md-3">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="% WYMAGANEJ WPŁATY" name="{{'procentPlatnosci_'+i}}" [(ngModel)]="legalBasicsDataForm.paymentIPercent">
      </md-form-field>
    </div>
    <div class="col-md-3">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="USTALONA DATA PŁATNOŚCI II" name="{{'platnoscII_'+i}}" [(ngModel)]="legalBasicsDataForm.paymentII">
      </md-form-field>
    </div>
    <div class="col-md-3">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="% WYMAGANEJ WPŁATY" name="{{'procentPlatnosci_'+i}}" [(ngModel)]="legalBasicsDataForm.paymentIIPercent">
      </md-form-field>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-3">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="USTALONA DATA PŁATNOŚCI III" name="{{'platnoscIII_'+i}}" [(ngModel)]="legalBasicsDataForm.paymentIII">
      </md-form-field>
    </div>
    <div class="col-md-3">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="% WYMAGANEJ WPŁATY" name="{{'procentPlatnosci_'+i}}" [(ngModel)]="legalBasicsDataForm.paymentIIIPercent">
      </md-form-field>
    </div>
    <div class="col-md-3">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="USTALONA DATA PŁATNOŚCI IV" name="{{'platnoscI_'+i}}" [(ngModel)]="legalBasicsDataForm.paymentIV">
      </md-form-field>
    </div>
    <div class="col-md-3">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="% WYMAGANEJ WPŁATY" name="{{'procentPlatnosci_'+i}}" [(ngModel)]="legalBasicsDataForm.paymentIVPercent">
      </md-form-field>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-2">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="OPŁATA POWYŻEJ 1 H" name="{{'powyzejGodziny_'+i}}" [(ngModel)]="legalBasicsDataForm.paymentMoreOneHour">
      </md-form-field>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="OPŁATA PONIŻEJ 1 H" name="{{'ponizejGodziny_'+i}}" [(ngModel)]="legalBasicsDataForm.paymentLessOneHour">
      </md-form-field>
    </div>
  </div>
  <!-- </div> -->
  <!-- </div> -->
</div>