<md-progress-bar *ngIf="progressBar" mode="indeterminate"></md-progress-bar>
<div class="form-row">
  <div class="row section-last-row">
    <div class="col-md-3">
      <button>Dodaj Wpłatę</button>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="WYSOKOŚĆ NALICZONEJ OPŁATY" name="naliczonaOplata" [(ngModel)]="paymentsDataForm.fullAmount">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="KAPITAŁ DO SPŁATY" name="pozostalyKapital" [(ngModel)]="paymentsDataForm.capital">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="ODSETKI USTAWOWE" name="odsetkiUstawowe" [(ngModel)]="paymentsDataForm.interest">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="KOSZTY WYSYŁKI" name="kosztyWysylki" [(ngModel)]="paymentsDataForm.shipmentCost">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="UMOŻONO KWOTĘ" name="umozono" [(ngModel)]="paymentsDataForm.discontinued">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="DO SPŁATY" name="doSplaty" [(ngModel)]="paymentsDataForm.left">
    </md-form-field>
  </div>
</div>