<md-progress-bar *ngIf="progressBar" mode="indeterminate"></md-progress-bar>
<div class="form-row">
  <div class="row section-last-row">
    <div class="col-md-3">
      <md-select [disabled]="editionDisabled" placeholder="SPÓŁKA" [(ngModel)]="parcelData.companyId">
        <md-option *ngFor="let c of currentUser?.companies" [value]="c.id" (click)="selectCompany(c.id)">
          {{ c.name }}
        </md-option>
      </md-select>
    </div>
    <div class="col-md-3" *ngIf="parcelData.companyId && !(selectedSections?.length < 1)">
      <md-select [disabled]="editionDisabled" placeholder="SEKCJA" [(ngModel)]="parcelData.sectionId">
        <md-option *ngFor="let s of selectedSections" [value]="s.id" (click)="selectSection(s.id)">
          {{ s.name }}
        </md-option>
      </md-select>
    </div>
    <div class="col-md-3 info-container" *ngIf="parcelData.companyId && selectedSections?.length < 1 && !progressBar">
      <span class="info">Brak sekcji w wybranej spółce</span>
    </div>
    <div class="col-md-3" *ngIf="parcelData.sectionId && !(selectedParcels?.length < 1) ">
      <md-form-field class="example-full-width" [mdMenuTriggerFor]="parcelMenu">
        <input [disabled]="editionDisabled" mdInput placeholder="DZIAŁKA" aria-label="State" #parcelInput [formControl]="parcelCtrl">
      </md-form-field>
      <md-menu #parcelMenu="mdMenu" [class.transparent]="(filteredParcels | async)?.length > 0">
        <button md-menu-item *ngFor="let p of filteredParcels | async" (click)="selectParcel(p)">
          {{ p.number + ' ' + p.cityId }}
        </button>
      </md-menu>
    </div>
    <div class="col-md-3 info-container" *ngIf="parcelData.sectionId && selectedParcels?.length < 1 && !progressBar">
      <span class="info">Brak działek w wybranej sekcji</span>
    </div>
  </div>
</div>
