.toolbar {
  position: fixed;
  z-index: 100;
}
.toolbar-spacer {
  height: 64px;
}
.title {
  text-align: center;
  margin-bottom: 32px;
}

.router-outlet-container {
  height: 72%;
  overflow: auto;
}

footer {
  height: 28%;
  overflow: auto;
  border-top: solid 1px #eee;
  z-index: 3;
}

