<md-toolbar color="primary" class="toolbar mat-elevation-z1">
  <a routerLink="/">
    <span style="color: white">
      Melior
      <span style="font-weight: 100">®</span>
    </span>
  </a>
  <div class="navigation">
    <button md-button class="nav-button" [mdMenuTriggerFor]="addMenu">Dodaj</button>
    <button md-button class="nav-button" [mdMenuTriggerFor]="searchMenu">Przeglądaj</button>
    <button md-button class="nav-button">Dokumenty</button>
    <button md-button class="nav-button">Raporty</button>
    <button md-button [mdMenuTriggerFor]="accountMenu">
      <md-icon>person</md-icon>
    </button>
  </div>
  <md-menu #addMenu="mdMenu" x-position="after" y-position="below">
    <button md-menu-item (click)="router.navigate(['/add/section'])">
      Sekcję
    </button>
    <button md-menu-item (click)="router.navigate(['/add/parcel'])">
      Działkę
    </button>
    <button md-menu-item (click)="router.navigate(['/add/owner']) ">
      Właściciela
    </button>
    <button md-menu-item (click)="router.navigate(['/add/resolution']) ">
      Uchwałę
    </button>
    <button md-menu-item (click)="router.navigate(['/add/works'])">
      Wykonane roboty
    </button>
  </md-menu>
  <md-menu #searchMenu="mdMenu" x-position="after" y-position="below">
    <button md-menu-item (click)="router.navigate(['/search/section'])">
      Sekcje
    </button>
    <button md-menu-item (click)="router.navigate(['/search/parcel'])">
      Działki
    </button>
    <button md-menu-item (click)="router.navigate(['/search/leesee']) ">
      Właścicieli
    </button>
    <button md-menu-item (click)="router.navigate(['/search/resolution']) ">
      Uchwały
    </button>
    <button md-menu-item (click)="router.navigate(['/search/works'])">
      Wykonane roboty
    </button>
  </md-menu>
  <md-menu #accountMenu="mdMenu" x-position="after" y-position="below">
    <div class="account-container">
      <div class="col-md-3">
        <md-icon class="account-icon">account_circle</md-icon>
      </div>
      <div class="col-md-9 info">
        <h1>{{ (us.currentUser | async)?.name }}</h1>
        <h2>{{ (us.currentUser | async)?.email }}</h2>
        <h2>{{ (us.currentUser | async)?.unionName }}</h2>
      </div>
      <div class="clearfix"></div>
    </div>
    <button class="admin-panel" *ngIf="(us.currentUser | async)?.role === 'admin'" md-menu-item (click)="router.navigate(['/admin-panel']);us.logOut(); ">
      <span>Panel Admina</span>
    </button>
    <button class="logout" md-menu-item (click)="router.navigate(['/login']);us.logOut(); ">
      <span>Wyloguj</span>
    </button>
  </md-menu>
</md-toolbar>
<div class="router-outlet-container">
  <div class="toolbar-spacer"></div>
  <router-outlet></router-outlet>
</div>
<footer class="mat-elevation-z3">
  <mwc-history></mwc-history>
</footer>
