<mwc-navigation-toolbar></mwc-navigation-toolbar>
<div class="card-container">
  <div class="card mat-elevation-z1">
    <md-tab-group>
      <md-tab label="Dane Osobowe">
        <div class="form-container">
          <mwc-personal-data-form></mwc-personal-data-form>
        </div>
      </md-tab>
      <md-tab label="Dane Kontaktowe">
        <div class="form-container">
          <mwc-contact-data-form></mwc-contact-data-form>
        </div>
      </md-tab>
      <md-tab label="Upowaznienia">
        <div class="form-container">
          <mwc-authorizations-data-form></mwc-authorizations-data-form>
        </div>
      </md-tab>
      <md-tab label="Podstawy Prawne">
        <div class="form-container">
          <mwc-legalbasis-data-form></mwc-legalbasis-data-form>
        </div>
      </md-tab>
      <md-tab label="Dzialki">
        <div class="form-container">
          <mwc-parcels-data-form></mwc-parcels-data-form>
        </div>
      </md-tab>
      <md-tab label="Skladki">
        <div class="form-container">
          <mwc-payments-data-form></mwc-payments-data-form>
        </div>
      </md-tab>
      <md-tab label="Wykonane roboty"></md-tab>
    </md-tab-group>
    <div class="button-container">
      <button type="button" class="add-button" md-raised-button (click)="buttonclicked()">Dalej</button>
      <button type="button" class="add-button" md-raised-button color="accent" (click)="buttonclicked()">Dodaj</button>
    </div>
  </div>
</div>