button {
    float: right;
    margin-left: 12px;
    min-width: 160px;
  }
  .form-container {
    padding: 24px;
  }
  .button-container {
    padding: 16px 48px;
    float: right;
  }

  .mat-tab-header {
    position: fixed;
  }

  .accent {
    color: white !important;
  }

  .header {
    color: rgba(0, 0, 0, 0.57);
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .auth-button-container {
    float: left;
  }

  .auth-button-container button {
    margin-left: 0;
    margin-right: 12px;
  }

  mwc-authorizations-data-form, mwc-owner-parcel-form  {
    margin-bottom: 16px;
    display: block;
  }

  .card-navigation {
    float: left;
    margin-bottom: 0;
    cursor: pointer;
    margin-right: -12px;
    height: 24px;
  }

.mat-tab-body-wrapper {
    margin-top: 0;
}

