/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/css/bootstrap.min.css";
body,
html {
    background: #FAFAFA;
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
mwc-root {
    height: 100%;
    display: block;
}

.navigation-tabs .mat-tab-label {
  width: 25% !important;
}

.no-padding {
  padding: 0;
}

.card {
  background: white;
  width: 100%;
  float: left;
}

.card-field {
  padding: 12px 16px;
  float: left;
}

mwc-add .mat-tab-label {
  width: 14.2857%;
  text-transform: uppercase;
}

.floated-container {
  float: left;
  width: 100%;
  height: 100%;
}

.single-toolbar-container {
  height: calc(100% - 64px);
}

.bordered {
  border: solid 1px #EEE;
}
.on-the-right {
  border-left: none;
}
.in-the-bottom {
  margin-top: -1px;
}

.mat-tab-header {
  position: fixed !important;
  width: 100%;
  background: white;
  z-index: 2;
}

.mat-tab-body-wrapper {
  margin-top: 48px;
}