<div class="col-md-12">
  <div class="header">
    Autoryzacje
  </div>
</div>
<div class="col-md-2">
  <md-form-field>
    <input class="textbox" type="text" mdInput placeholder="IMIĘ I NAZWISKO" name="imienazwisko" [(ngModel)]="authDataForm.nameSurname">
  </md-form-field>
</div>
<div class="col-md-2">
  <md-form-field>
    <input class="textbox" type="text" mdInput placeholder="NUMER PESEL" name="pesel" [(ngModel)]="authDataForm.pesel">
  </md-form-field>
</div>
<div class="col-md-2">
  <md-form-field>
    <input class="textbox" type="text" mdInput placeholder="TELEFON" name="telefon" [(ngModel)]="authDataForm.phoneNumber">
  </md-form-field>
</div>
<div class="col-md-2">
  <md-form-field>
    <input class="textbox" type="text" mdInput placeholder="E-MAIL" name="email" [(ngModel)]="authDataForm.email">
  </md-form-field>
</div>
<div class="col-md-2">
  <md-form-field>
    <input class="textbox" type="text" mdInput placeholder="ADRES DO KORESPONDENCJI" name="adres_korespondencji" [(ngModel)]="authDataForm.correspondenceAddress">
  </md-form-field>
</div>
<div class="col-md-2">
  <md-form-field>
    <input class="textbox" type="text" mdInput placeholder="ZAKRES UPOWAŻNIENIA" name="zakres" [(ngModel)]="authDataForm.authScope">
  </md-form-field>
</div>
<div class="col-md-1">
  <md-form-field>
    <input class="textbox" type="text" mdInput placeholder="WAŻNE OD" name="wazneod" [(ngModel)]="authDataForm.validFrom">
  </md-form-field>
</div>
<div class="col-md-1">
  <md-form-field>
    <input class="textbox" type="text" mdInput placeholder="WAŻNE DO" name="waznedo" [(ngModel)]="authDataForm.validTill">
  </md-form-field>
</div>