  <div>
    <div class="col-md-2">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="IMIĘ I NAZWISKO" name="imienazwisko">
      </md-form-field>
    </div>
    <div class="col-md-2">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="NUMER PESEL" name="pesel">
      </md-form-field>
    </div>
    <div class="col-md-2">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="TELEFON" name="telefon">
      </md-form-field>
    </div>
    <div class="col-md-2">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="E-MAIL" name="email">
      </md-form-field>
    </div>
    <div class="col-md-2">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="ADRES DO KORESPONDENCJI" name="adres_korespondencji">
      </md-form-field>
    </div>
    <div class="col-md-2">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="ZAKRES UPOWAŻNIENIA" name="zakres">
      </md-form-field>
    </div>
    <div class="col-md-1">
      <md-form-field>
        <input class="textbox" type="text" mdInput placeholder="WAŻNE OD" name="wazneod">
      </md-form-field>
    </div>
      <div class="col-md-1">
          <md-form-field>
            <input class="textbox" type="text" mdInput placeholder="WAŻNE DO" name="waznedo">
          </md-form-field>
    </div>
  </div>