<div class="clearfix"></div>
<div class="row">
  <div class="col-md-3 header">
    Historyczne saldo
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <md-form-field>
      <input [disabled]="editionDisabled" class="textbox" type="number" mdInput placeholder="KAPITAŁ*" name="kod" [(ngModel)]="historicSaldo.capital">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input [disabled]="editionDisabled" class="textbox" type="number" mdInput placeholder="ODSETKI*" name="ulica" [(ngModel)]="historicSaldo.interest">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input [disabled]="editionDisabled" class="textbox" type="number" mdInput placeholder="KOSZTA*" name="email" [(ngModel)]="historicSaldo.costs">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input [disabled]="editionDisabled" mdInput [mdDatepicker]="historic" [(ngModel)]="historicSaldo.untilDate" name="{{'platnoscI_'}}"
        placeholder="DO DNIA*">
      <md-datepicker-toggle mdSuffix [for]="historic"></md-datepicker-toggle>
      <md-datepicker #historic></md-datepicker>
    </md-form-field>
  </div>
</div>
