<div class="clearfix"></div>
<div class="row">
  <div class="col-md-3 header">
    Historyczne saldo
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="KAPITAŁ" name="kod" [(ngModel)]="historicSaldo.capital">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="ODSETKI" name="ulica" [(ngModel)]="historicSaldo.interest">
    </md-form-field>
  </div>
  <div class="col-md-2">
    <md-form-field>
      <input class="textbox" type="text" mdInput placeholder="KOSZTA" name="email" [(ngModel)]="historicSaldo.costs">
    </md-form-field>
  </div>
</div>
